.cropper-crop-box {
    height: 100% !important;
    width: auto !important; 
    transform: translateX(0) !important;
    transform: translatey(0) !important;
}

.cropper-view-box>img {
    height: 100% !important;
    width: auto !important;
    transform: translateX(0) !important;
    transform: translatey(0) !important;
}

.cropper-canvas {
    display: none !important;
}

.cropper-view-box {
    display: flex;
    align-items: center;
    justify-content: center;
}