.caption-cont {
    position: relative;
    height: 100%;
    display: flex;
}

.caption-image-cont {
    width: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
    border-right: 1px lightgray solid;
}

.caption-control-cont {
    height: 100%;
    width: 400px;
    overflow-y: hidden;
}

.caption-heading-cont {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    align-items: center;
}

.bt-caption-image {
    width: 50%;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
    cursor: pointer;
}

.caption-controls-cont::-webkit-scrollbar-thumb {
    background-color: gray;
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;  
}
  
.caption-controls-cont::-webkit-scrollbar {
    width: 16px;
}

.slider { 
    -webkit-appearance: none;
    width: 90%;
    height: 2px; 
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: rgb(38, 38, 38);
    cursor: pointer;
}

.slider-cont {
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.slider-head {
    width: 90%;
}

.reset-bt {
    color: transparent;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.slider-cont:hover .reset-bt {
    color: rgb(0,149,246);
}

.slider-val-1 {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center
}

.slider-val-2 {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
}

.caption-user-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.caption-text-area {
    background: transparent;
    border: none;
    overflow: auto;
    padding: 0 5%;
    resize: none;
    width: 90%;
    height: 220px;
    margin: 0;
}

.caption-text-area:focus {
    background: transparent;
    border: none;
    outline: none;
}

.caption-sizing {
    height: 50px;
    margin: 1px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

.caption-location-input {
    width: 300px;
    margin: 10px;
    background: transparent;
    border: none;
}

.caption-location-input:focus {
    outline: none;
}

.location-icon {
    display: flex;
    align-items: center;
    margin-right: 20px;
}