.navbar {
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 800px;
}

.nav-icons {
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.navbar-options {
    display: flex;
    flex-direction: row;
}